
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
/*CSS reset*/
*{
    margin: 0;
    padding: 0;
}
/* <----------------------------------------- SIDEBAR ----------------------------------------------> */
.sidebar{
    background-color: rgb(185, 179, 179);
    width : 14vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 28px 0px 28px 28px;
    margin-top: 28px;
}

.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 18px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

/* <------------------------------------- INDEX - MAIN -------------------------------------------------> */
.main{
    /*background-color: yellow;*/
    width : 90vw;
    height: 100vh;
}

.container{ /* container of the information*/
    display : flex; 
}

.info{  /* Information = devinfo + devpic */
    /*background-color: rgb(64, 226, 43);*/
    height: 60vh;
    width: 80vw;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo{ /* written content about the person */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{   /* devinfo = hello + name + about + aboutmore*/
    margin-top: 30px;
    font-size: 55px;
    font-family: 'Source Sans Pro', sans-serif;
}
.name{   /* devinfo = hello + name + about + aboutmore*/
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about{  /* devinfo = hello + name + about + aboutmore*/
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.aboutmore{  /* devinfo = hello + name + about + aboutmore*/
    margin-top: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.btn{ /* download and contact me button */
    margin-top: 51px;
    margin-right: 14px;
    padding: 4px;
    color: black;
    background: #a3b7c2;
    border-radius: 8px;
    font-size: 12px;
    border-block-width: 2px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: black;
}

.btn-sml {
    font-weight: bold;
    padding: 4px;
    border-color: black;
    border-radius: 10px;
    background-color: #bcc3e5;
    cursor: pointer;
}

.btn-sml:hover {
    background-color: white;
    color: black;
}

.devpic img{
    width: 225px;
    height: 70vh;
}

/*--------------------------------------CONTACT PAGE ---------------------------> */

.contactform {   
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.contactform h1 {
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;

}

.contactform form div { /* gives instructions for all divisions in the contact form to follow */
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input { /* gives instructions for all input divisions in the contact form to follow */
    /*width:16vw;*/
    border-radius: 5px;
    margin: 2px 0;
    padding: 2px;
}

#clientName {
    width: 32vw;
    border-radius: 6px;
    margin: 2px 0 0; 
}

#emailHelp { /* warning wala part */
    font-size: 10px;
    color: rgb(78, 78, 201);
    padding-left: 7px;
}

#clientEmail {
    width: 32vw;
    border-radius: 6px;
    margin: 2px 0 0; 
}

#clientPhone {
    width : 32vw;
    border-radius: 6px;
    margin : 2px 0;
}

#checkbox {
    position: absolute;
   /* margin-left: 100px;*/
}

#clientEnquiry {
    width : 32vw;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 88px;
    /*length : 32vh;*/
}

.form-check-label {
    margin-left: 17px;
}

#form-check input {
    width: 24px;
    margin : 3px 0; 
}

/* <------------------------ INTRO PAGE ---------------------------------> */



